<!-- templates/home.html-->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="coloredRow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 " id="userregistration">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11">
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            <h3>User Login</h3>

                            <div class="container">
                                <div class="form-group ">
                                    <div class="col-lg-10">
                                        <label class="control-label col-sm-2 required">(Required)</label>
                                        <input required type="email" name="email" value="" placeholder="Email..." />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10">
                                        <label class="control-label col-sm-2 required">(Required)</label>
                                        <input required type="password" name="password" value="" minlength="6"
                                            maxlength="12" placeholder="Password..." />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2"></label>
                                    <div class="col-lg-10">
                                        <button type="submit" class="btn btn-danger">LogIn</button>
                                    </div>
                                </div>
                            </div>
                            {% if status == 'success' %}
                            <div class="successmessage">{{message}}</div>
                            {% else %}
                            <div class="failuremessage">{{message}}</div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="{% static 'images/register.png' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}