{% extends 'logInHeader.html' %}
{% block content %}
{% load static %}
{% load mathfilters %}
<script src="{% static 'js/stockData.js' %}"></script>
<section class="coloredRow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 text-center">
                <img src="{% static 'images/stocks.jpeg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7" id="userregistration">
                <div class="row">
                    <div class="col-lg-11">
                        <h3>Lookup Stock Info</h3>
                        <div class="container">
                            <form method="POST" class="form-inline d-flex dropdown">
                                {% csrf_token %}
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Search Using Company Name/ Code..." id="searchbar" data-toggle="dropdown">
                                <ul class="dropdown-menu" id="displist" role="menu" aria-labelledby="menu1"
                                    style="display: none;"></ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-11">
                        <a href = "viewAllTrades" target="_blank" class="btn btn-danger buysell"> View My Trades</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uncoloredRow">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10" id="userregistration">
                    <div class="row">
                        <div class="col-lg-11">
                            <h3>My Portfolio <span class="tradingwarning">(Papertrading*)</span></h3>
                            <div class="row">
                                <label class="control-label col-sm-12 smallcaps text-center rowstockData"> <strong>Profit And Loss</strong> </label>
                                {% if data.pnl %}
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">STOCK</th>
                                            <th scope="col">QTY</th>
                                            <th scope="col">AVG. BUY PRICE</th>
                                            <th scope="col">AVG. SELL PRICE</th>
                                            <th scope="col">PROFIT / LOSS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in data.pnl %}
                                        <tr>
                                            <td>{{e.stock}}</td>
                                            <td>{{e.qty}}</td>
                                            <td>{{e.buyPrice|floatformat:2}}</td>
                                            <td>{{e.sellPrice|floatformat:2}}</td>
                                            <td>{{e.pnl|floatformat:2}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                                <label class="control-label col-sm-12 smallcaps text-center rowstockData"> <strong>Total Profit & Loss: </strong>{{data.tilldateprofit|floatformat:2}}</label>

                                {% else %}
                                <label class="control-label">You have not sold any of your positions/ No trade performed </label>
                                {% endif %}
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-12 smallcaps text-center rowstockData"> <strong>Open Positions</strong> </label>
                                {% if data.openposition %}
                                <table class="table ">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">BUY / SELL</th>
                                            <th scope="col">STOCK</th>
                                            <th scope="col">QTY</th>
                                            <th scope="col">AVG. PRICE</th>
                                            <th scope="col">DATE</th>
                                            <th scope="col">INVESTMENT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in data.openposition%}
                                        <tr class="smallcaps">
                                            <td>{{e.buy_sell}}</td>
                                            <td>{{e.stock}}</td>
                                            <td>{{e.qty}}</td>
                                            <td>{{e.price|floatformat:2}}</td>
                                            <td>{{e.trade_date}}</td>
                                            <td>{{ e.qty|mul:e.price |floatformat:2}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                <label class="control-label">You do not have any open positions/ No trade performed </label>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center">
                    <img src="{% static 'images/papertrade.jpeg' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}