<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta data -->
  <meta content="" name="description">
  <meta content="" name="keywords">
  <title>Stock Analytics</title>
  <link href="assets/images/favicon.ico" rel="icon">
  <link href="assets/images/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  {% load static %}
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> 
  <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
  <link href="{% static 'css/font-awesome/css/font-awesome.css' %}" rel="stylesheet"> 
</head>

<body>
  <div class="container-fluid">
    <header>
      <div class="menu">
        <nav id="stickmenu" class="navbar navbar-expand-lg navbar-light firstpage">
          <div class="container-fluid">
            <span class="navbar-brand" href="/">Stock <span style="color: #118d11">Analytics</span></span>
          </div>
        </nav>
      </div>
    </header>
    <main>
        <section class="coloredRow">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 text-center">
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="{% static 'images/underConstruction.jpeg' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
      <div class="container">
        <div class="row sectionedCSS">
          <div class="col-md-12 col-sm-12 center-col text-center py-3">©2021 Copyright: Stock Analytics</div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>