{% extends 'logInHeader.html' %}
{% block content %}
{% load static %}

<section class="coloredRow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5" style="background: white;">
                <img src="{% static 'images/correlation.jpeg' %}" class="img-fluid" alt="" >
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-11">
                        <h3>What is Correlation?</h3>
                        <p> In general, correlation is a way to measure the strength of the relationship between variables. A correlation between variables indicates that as one variable changes in value, the other variable tends to change in a specific direction.</p>
                        <p> In terms of Stock Analytics, a correlation graph would show us the positive or negative relationship amongst different stocks. This means that when a certain stock price goes up, then another stock price might go up too which denotes a positive relationship between them; or another stock price may go down which denotes a negative relationship between them. </p>
                        <p> The following chart refreshes daily as it keeps learning to make better predictions each day. The graph below would let you get a gist of the relationships between different stocks. A correlation value of less than 0 indicates that the stocks are correlated in a negative direction and a value greater than 0 indicates that they are correlated in a positive direction. </p>
                        <p> In the chart below, a lighter color between two stock denotes a strong positive correlation while an intense dark color denotes a negative correlation. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uncoloredRow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <h3>Correlated Stocks</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Airbnb Inc</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Alphabet Inc Class A</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Amazon.com, Inc.</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Apple Inc.</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Microsoft Corporation</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> NVIDIA Corporation</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sea Ltd</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Shopify Inc</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Square Inc</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Tesla Inc</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'images/charts/correlation.png' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</section>
{% endblock %}
