{% extends 'logInHeader.html' %}
{% block content %}
{% load static %}

<section class="coloredRow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5" style="background: white;">
                <img src="{% static 'images/correlation.jpeg' %}" class="img-fluid" alt="" >
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-11">
                        <h3>What is Correlation?</h3>
                        <p> Correlation is a way to measure the strength of the relationship between variables. In terms of Stock Analytics, correlation between stocks indicates that as one stock changes in value, the other stock tends to change in a specific direction.</p>
                        <p> The correlation graph shows positive or negative relationship amongst different stocks. This means that when a certain stock price goes up, then another stock price might go up too which denotes a positive relationship between them; or another stock price may go down which denotes a negative relationship between them.
                        </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-11">
                        <h3>How to read the Correlation Graph?</h3>
                        <p> A correlation value of less than 0 indicates that the stocks are correlated in a negative direction and a value greater than 0 indicates that they are correlated in a positive direction. </p>
                        <p> A lighter color between two stock denotes a strong positive correlation while an intense dark color denotes a negative correlation. </p>
                        <p> It refreshes daily for better predictions each day. </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uncoloredRow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <h3>Correlated Stocks</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Apple Inc. - AAPL</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Airbnb Inc - ABNB</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Amazon.com, Inc. - AMZN</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Alphabet Inc Class A - GOOGL</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Microsoft Corporation - MSFT</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> NVIDIA Corporation - NVDA</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sea Ltd - SE</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Shopify Inc - SHOP</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Square Inc - SQ</li>
                            <li class="smallcaps"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Tesla Inc - TSLA</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'images/charts/correlation.png' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</section>
{% endblock %}
